@model MarbleHouse.Models.ViewModels.ProductsViewModel
@using MarbleHouse.Extensions
@{
    ViewData["Title"] = "Details";
}

<br />
<br />

<h4 class="text-info">Details of Product</h4>

    <div class="p-lg-4 border rounded row">
        <div class="col-8">

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Products.Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Products.Name" readonly />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Products.Price"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Products.Price" readonly />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Products.ProductTypes"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Products.ProductTypes.Name" readonly/>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Products.SpecialTags"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Products.SpecialTags.Name" readonly/>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Products.ShadeColor"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Products.ShadeColor" readonly/>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Products.Available"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Products.Available" readonly/>
                </div>
            </div>
        </div>
        <div class="col-1">

        </div>
        <div class="col-3">
            <img src="@Model.Products.Image" width="100%" style="border-radius:8px;border:1px solid #bbb9b9" />
        </div>
        <br />
        <div class="form-group">
            <a asp-action="Edit" asp-route-id="@Model.Products.Id" class="btn btn-success">Edit</a>
            <a asp-action="Index" class="btn btn-info">Back to List</a>
        </div>
    </div>