@model MarbleHouse.Models.Products
@using MarbleHouse.Extensions
@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor httpContextAccessor
@{
    ViewData["Title"] = "Details";
}

<br />
<br />

<h4 class="text-info">Details of Product</h4>

<form asp-action="Details" method="post">
    <div class="p-lg-4 border rounded row">
        <div class="col-8">

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Name" class="form-control" readonly />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ShadeColor"></label>
                </div>
                <div class="col-8">
                    <input asp-for="ShadeColor" class="form-control" readonly />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Price"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Price" class="form-control" readonly />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ProductTypes"></label>
                </div>
                <div class="col-8">
                    <input asp-for="ProductTypes.Name" class="form-control" readonly />
                </div>
            </div>
            @if (!Model.SpecialTags.Name.Equals("--None--"))
            {
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="SpecialTags"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="SpecialTags.Name" class="form-control" readonly />
                    </div>
                </div>
            }

            <div class="form-group row">
                <div class="col-4">
                </div>
                <div class="col-8">
                    @{
                        bool isInBag = false;
                        List<int> cartList = httpContextAccessor.HttpContext.Session.Get<List<int>>("ssShoppingCart");
                        if (cartList != null && cartList.Contains(Model.Id))
                        {
                            isInBag = true;
                        }
                    }

                    @if (isInBag)
                    {
                        <button type="submit" value="Remove From Bag" asp-action="remove" asp-route-id="@Model.Id" class="btn btn-danger form-control">Remove From Bag</button>
                    }
                    else
                    {
                        <button type="submit" value="Add To Bag" asp-route-id="@Model.Id" class="btn btn-primary form-control">Add TO Bag</button>
                    }

                </div>
            </div>

        </div>
        <div class="col-1">

        </div>
        <div class="col-3">
            <img src="@Model.Image" width="100%" style="border-radius:8px;border:1px solid #bbb9b9" />
            <br /><br />
            @if (Model.Available)
            {
                <img src="~/images//InStock.png" width="60%" style="padding-left:30px;" />
            }
        </div>
        <br /><br />

        <div class="form-group">
            <input type="hidden" asp-for="Id" />
            <a asp-action="Index" class="btn btn-success">Back to List</a>
        </div>
    </div>
</form>